node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

dist/
build/

.env
.env.local
.env.development
.env.production
.env.test

.cache/
*.swp
*.swo
.tmp/

.pnp/
.pnp.js
.yarn/
.pnpm-store/

coverage/
jest/
cypress/screenshots/
cypress/videos/

public/*.cache
